[{{ user_domain }}]

listen = /var/run/php-fpm.{{ server_name }}.sock
 ;listen.backlog = -1

 ; Unix user/group of processes
user = {{ user_domain }}
group = {{ user_domain }}

 ; Choose how the process manager will control the number of child processes.
pm = dynamic
pm.max_children = 25
pm.start_servers = 8
pm.min_spare_servers = 6
pm.max_spare_servers = 10
pm.max_requests = 500

listen.owner = {{ user_domain }}
listen.group = nobody
listen.mode = 0666
